# Логи
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Тестовые файлы
test_qr.png

# IDE
.vscode/
.idea/

# Переменные окружения
.env
.env.test
.env.local
.env.*.local

# Google Calendar API
credentials.json
token.pickle
